@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: gray;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

#root {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
}

.my-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects,
.excercises {
  border: solid 1px black;
  min-width: 300px;
}

footer{
  display: flex;
  gap: 10px;
}

footer svg {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  footer {
    grid-column: 1/5;
  }

  main,
  .my-projects {
    grid-template-columns: none;
  }
}
